In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 100)
pd.set_option('display.max_rows', 200)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import warnings
warnings.filterwarnings('ignore')

In [38]:
train = pd.read_csv("train.csv")

In [39]:
static_df = train[['merchant_id', 'mcc_id', 'settlement_period', 'working_type', 'merchant_segment']]
train = train[['merchant_id', 'month_id', 'net_payment_count']]
train = train.sort_values(by=['merchant_id', 'month_id']).reset_index(drop=True)
# 
train['month_id'] = pd.to_datetime(train['month_id'], format='%Y%m')

In [40]:
def filter_by_multiple_gaps(df, threshold):
    # month_id sütununu datetime'a çevirme
    
    result_df = pd.DataFrame()  # Sonuçları saklamak için boş bir dataframe
    
    for merchant_id, group in df.groupby('merchant_id'):
        group = group.sort_values(by='month_id')  # Her grubu tarihe göre sıralama
        valid_indices = []  # Geçerli indeksleri saklamak için boş bir liste
        
        prev_date = None
        for index, row in group.iterrows():
            if prev_date is not None:
                date_diff = (row['month_id'] - prev_date).days
                if date_diff < threshold:
                    # Eğer fark belirlenen eşikten küçükse, bu indeksi sakla
                    valid_indices.append(index)
                else:
                    # Eşikten büyük bir fark bulunduğunda, geçerli indeksleri sıfırla ve bu indeksi ekle
                    valid_indices = [index]
            else:
                # İlk satır her zaman geçerli olarak kabul edilir
                valid_indices.append(index)
            prev_date = row['month_id']
        
        # Geçerli indekslere sahip satırları sonuç DataFrame'ine ekle
        result_df = pd.concat([result_df, group.loc[valid_indices]])
    
    return result_df.reset_index(drop=True)

train = filter_by_multiple_gaps(train, 240)

In [41]:
# Son transaction ve ilk gözlem tarihlerini bulma
last_transaction = train.groupby('merchant_id')['month_id'].max()
first_observation = train.groupby('merchant_id')['month_id'].min()

# Model DataFrames
# model_2020_df = train[train['merchant_id'].isin(first_observation[first_observation <= '2020-09-01'].index)]
# model_2021_df = train[train['merchant_id'].isin(first_observation[(first_observation > '2020-09-01') & (first_observation <= '2022-09-01')].index)]
# model_2022_df = train[train['merchant_id'].isin(first_observation[(first_observation > '2021-09-01') & (first_observation <= '2022-09-01')].index)]
model_2023_df = train[train['merchant_id'].isin(first_observation[first_observation > '2022-12-01'].index)]

# Her merchant_id için gözlem sayısını say
merchant_counts = model_2023_df['merchant_id'].value_counts()

# Her merchant_id için en son gözlem tarihini bul
last_observation = model_2023_df.groupby('merchant_id')['month_id'].max()

# Gözlem sayısı 3'ten az olan veya son gözlem tarihi 202301'den düşük olan merchant_id'leri bul
filtered_merchant_ids = merchant_counts[(last_observation <= '2023-06-01')].index
# (merchant_counts <= 1) | 

# Bu merchant_id'leri no_model DataFrame'ine ata
churn_df = model_2023_df[model_2023_df['merchant_id'].isin(filtered_merchant_ids)]

# Diğer verileri updated_train DataFrame'ine ata
model_2023_df = model_2023_df[~model_2023_df['merchant_id'].isin(filtered_merchant_ids)]

# # Her merchant_id için toplam geçme sayısını hesaplama
# merchant_pass_counts = model_2023_df.groupby('merchant_id').size()

# # Geçme sayısı 5'ten az olan merchant_id'leri bulma
# rule_based_merchant_ids = merchant_pass_counts[merchant_pass_counts <= 3].index

# # Bu merchant_id'leri rule_based_df DataFrame'ine ata
# rule_based_df = model_2023_df[model_2023_df['merchant_id'].isin(rule_based_merchant_ids)]

# # Bu merchant_id'leri model_2023_df DataFrame'inden çıkar
# model_2023_df = model_2023_df[~model_2023_df['merchant_id'].isin(rule_based_merchant_ids)]

# Set ve DataFrames'in boyutlarını kontrol etme
churn_df.shape, model_2023_df.shape

((2224, 3), (10215, 3))

In [42]:
# import pandas as pd
# import numpy as np

# def detect_and_cap_outliers(df):
#     df['rolling_mean'] = df['net_payment_count'].rolling(window=3, min_periods=1).mean()
#     df['rolling_std'] = df['net_payment_count'].rolling(window=3, min_periods=1).std()  # ddof=0 for population std
#     df['lower_limit'] = df['rolling_mean'] - 4 * df['rolling_std']
#     df['upper_limit'] = df['rolling_mean'] + 4 * df['rolling_std']
    
#     # Aykırı değerleri tespit
#     df['is_outlier'] = (df['net_payment_count'] < df['lower_limit']) | (df['net_payment_count'] > df['upper_limit'])
    
#     # Aykırı değerleri baskıla
#     df['net_payment_count'] = np.where(df['net_payment_count'] < df['lower_limit'], df['lower_limit'],
#                                               np.where(df['net_payment_count'] > df['upper_limit'], df['upper_limit'],
#                                                        df['net_payment_count']))
#     return df

# # Her bir merchant_id için aykırı değerleri tespit etmek, baskılamak ve sonuçları görmek
# merchant_ids = model_2023_df['merchant_id'].unique()
# capped_results = []  # Sonuçları saklamak için boş bir liste

# for merchant_id in merchant_ids:
#     merchant_df = model_2023_df[model_2023_df['merchant_id'] == merchant_id].copy()
#     capped_df = detect_and_cap_outliers(merchant_df)
#     capped_results.append(capped_df)

# # Sonuçların birleştirilmesi
# model_2023_df = pd.concat(capped_results).reset_index(drop=True)
# model_2023_df = model_2023_df[['merchant_id', 'month_id' ,'net_payment_count']]

# # İlk birkaç sonucu göster
# model_2023_df.head()

In [43]:
model_2023_df.net_payment_count.mean()

97.36906510034264

In [44]:
# Gözlem sayılarını hesaplama
merchant_observation_counts = model_2023_df['merchant_id'].value_counts()

# 11'den fazla gözlem içeren merchant'ları belirleme
merchants_more_than_11 = merchant_observation_counts[merchant_observation_counts >= 8].index

# 11'den az gözlem içeren merchant'ları belirleme
merchants_less_than_11 = merchant_observation_counts[merchant_observation_counts < 8].index

# Bu merchant'ların gözlemlerini ilgili DataFrame'lere ayırma
model_2023_df_up = model_2023_df[model_2023_df['merchant_id'].isin(merchants_more_than_11)]
model_2023_df_down = model_2023_df[model_2023_df['merchant_id'].isin(merchants_less_than_11)]

# Sonuçların boyutlarını kontrol etme
model_2023_df_up.shape, model_2023_df_down.shape

((1799, 3), (8416, 3))

In [45]:
unique_merchant_ids = churn_df['merchant_id'].unique()

# Her merchant_id için 2023-10, 2023-11, ve 2023-12 tarihleri için id oluştur
submission_entries = []
for merchant_id in unique_merchant_ids:
    for month in ['10', '11', '12']:
        submission_id = f'2023{month}{merchant_id}'
        submission_entries.append([submission_id, merchant_id, None])

# sub_no_model DataFrame'ini oluştur
churn = pd.DataFrame(submission_entries, columns=['id', 'merchant_id', 'net_payment_count'])

churn.head(20)

                      id     merchant_id net_payment_count
0   202310merchant_10026  merchant_10026              None
1   202311merchant_10026  merchant_10026              None
2   202312merchant_10026  merchant_10026              None
3   202310merchant_10116  merchant_10116              None
4   202311merchant_10116  merchant_10116              None
5   202312merchant_10116  merchant_10116              None
6   202310merchant_10160  merchant_10160              None
7   202311merchant_10160  merchant_10160              None
8   202312merchant_10160  merchant_10160              None
9   202310merchant_10189  merchant_10189              None
10  202311merchant_10189  merchant_10189              None
11  202312merchant_10189  merchant_10189              None
12  202310merchant_10192  merchant_10192              None
13  202311merchant_10192  merchant_10192              None
14  202312merchant_10192  merchant_10192              None
15  202310merchant_10204  merchant_10204              None
16  202311merchant_10204  merchant_10204              None
17  202312merchant_10204  merchant_10204              None
18  202310merchant_10224  merchant_10224              None
19  202311merchant_10224  merchant_10224              None

In [46]:
churn['net_payment_count'] = 0
churn = churn[['id', 'net_payment_count']]
churn.head(3)

                     id  net_payment_count
0  202310merchant_10026                  0
1  202311merchant_10026                  0
2  202312merchant_10026                  0

In [47]:
def filler(df):
    # Define the target date
    target_date = pd.to_datetime('2023-09-01')

    # Find merchants that don't have a record on the target date
    merchants_missing_target_date = df[~df['merchant_id'].isin(
        df[df['month_id'] == target_date]['merchant_id']
    )]['merchant_id'].unique()

    # Get the first record of each merchant to preserve the static features
    first_records_per_merchant = df[df['merchant_id'].isin(merchants_missing_target_date)].groupby('merchant_id').first().reset_index()

    # Create missing records for the target date
    missing_records = first_records_per_merchant.copy()
    missing_records['month_id'] = target_date
    missing_records['net_payment_count'] = 0

    # Append the missing records to the original DataFrame
    df = pd.concat([df, missing_records], ignore_index=True)

    # Sort the updated DataFrame
    df.sort_values(by=['merchant_id', 'month_id'], inplace=True)
    
    return df
  
model_2023_df_up = filler(model_2023_df_up)  
model_2023_df_down = filler(model_2023_df_down)

In [48]:
static_features_df = static_df.drop_duplicates()

In [49]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

model_2023_up_data = TimeSeriesDataFrame.from_data_frame(
    model_2023_df_up,
    id_column="merchant_id",
    timestamp_column="month_id",
    static_features_df=static_features_df
)
model_2023_up_data.head()

                         net_payment_count
item_id      timestamp
merchant_101 2023-02-01                 19
             2023-03-01                 31
             2023-04-01                 26
             2023-05-01                 19
             2023-06-01                 21

In [50]:
model_2023_up_data = model_2023_up_data.convert_frequency(freq="M")

In [51]:
model_2023_up_data['net_payment_count'] = model_2023_up_data['net_payment_count'].fillna(0)

In [52]:
from autogluon.common import space

predictor = TimeSeriesPredictor(
    prediction_length=3,
    target="net_payment_count",
    eval_metric="MAE",
    freq='M',
    quantile_levels=[0.3, 0.31, 0.32, 0.33, 0.34 ,0.35, 0.4, 0.5],
#     known_covariates_names=["month", "year"]
)

predictor.fit(
    model_2023_up_data,
    presets="best_quality",
    time_limit= 3600 * 6,
    refit_full=True
    # excluded_model_types=["AutoARIMA", "DeepAR", "CrostonSBA", "NPTS", "DirectTabular", 
    #                      "TemporalFusionTransformer", "PatchTST"],
    
#     hyperparameters={
#       "SeasonalNaive": {"n_jobs": 6},
#     #   "Naive": {"n_jobs": 6},
#     #   "AutoETS": {"n_jobs": 6},
#       "DynamicOptimizedTheta": {"n_jobs": 6},
#       "RecursiveTabular": {"n_jobs": 6},
#     #   "AutoCES": {"n_jobs": 6},
# #       "ADIDA": {},
# #       "IMAPA": {},
# #       "DLinear": {},
# #       "SimpleFeedForward": {},
# #       "DeepAR": {},
#         # "TemporalFusionTransformer": {"n_jobs": 6},
#         },
#     hyperparameter_tune_kwargs={
# #     "num_trials": 5,
# #     "scheduler": "local",
# #     "searcher": "random",
#     "n_jobs": -1
# },
)

Beginning AutoGluon training... Time limit = 21600s
AutoGluon will save models to 'AutogluonModels\ag-20240225_084235'
=================== System Info ===================
AutoGluon Version:  1.0.0
Python Version:     3.10.10
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          12
GPU Count:          0
Memory Avail:       3.84 GB / 15.42 GB (24.9%)
Disk Space Avail:   31.36 GB / 476.34 GB (6.6%)
===================================================
Setting presets to: best_quality

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': MAE,
 'freq': 'M',
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 2,
 'prediction_length': 3,
 'quantile_levels': [0.3, 0.31, 0.32, 0.33, 0.34, 0.35, 0.4, 0.5],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': True,
 'target': 'net_payment_count',
 'time_limit': 21600,
 'verbosity': 2}

Provided train_data has 1828 rows, 214 time series. Median time series length is 9 (min=8, max=9).
Time series in train_data are too short for chosen num_val_windows=2. Reducing num_val_windows to 1.

Provided dataset contains following columns:
	target:           'net_payment_count'
Following types of static features have been inferred:
	categorical:        ['mcc_id', 'settlement_period', 'working_type', 'merchant_segment']
	continuous (float): []
To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'MAE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-02-25 11:42:35
Models that will be trained: ['SeasonalNaive', 'CrostonSBA', 'NPTS', 'AutoETS', 'DynamicOptimizedTheta', 'AutoARIMA', 'RecursiveTabular', 'DirectTabular', 'DeepAR', 'TemporalFusionTransformer', 'PatchTST']
Training timeseries model SeasonalNaive. Training for up to 1909.1s of the 21599.8s of remaining time.
	-71.8333      = Validation score (-MAE)
	0.02    s     = Training runtime
	6.62    s     = Validation (prediction) runtime
Training timeseries model CrostonSBA. Training for up to 2099.3s of the 21593.1s of remaining time.
	-245.9569     = Validation score (-MAE)
	0.02    s     = Training runtime
	15.14   s     = Validation (prediction) runtime
Training timeseries model NPTS. Training for up to 2330.9s of the 21578.0s of remaining time.
	-71.8333      = Validation score (-MAE)
	0.02    s     = Training runtime
	0.33    s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 2622.2s of the 21577.6s of remaining time.
	Warning: AutoETS\W0 failed for 214 time series (100.0%). Fallback model SeasonalNaive was used for these time series.
	-71.8333      = Validation score (-MAE)
	0.02    s     = Training runtime
	0.73    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta. Training for up to 2996.7s of the 21576.8s of remaining time.
	-57.6166      = Validation score (-MAE)
	0.02    s     = Training runtime
	29.84   s     = Validation (prediction) runtime
Training timeseries model AutoARIMA. Training for up to 3491.2s of the 21546.9s of remaining time.
	-90.9757      = Validation score (-MAE)
	0.02    s     = Training runtime
	34.18   s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 4182.5s of the 21512.7s of remaining time.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-137.4538     = Validation score (-MAE)
	3.07    s     = Training runtime
	0.22    s     = Validation (prediction) runtime
Training timeseries model DirectTabular. Training for up to 5227.4s of the 21509.4s of remaining time.
	-193.7601     = Validation score (-MAE)
	1.19    s     = Training runtime
	0.11    s     = Validation (prediction) runtime
Training timeseries model DeepAR. Training for up to 6969.4s of the 21508.1s of remaining time.
	-102.2416     = Validation score (-MAE)
	82.35   s     = Training runtime
	0.64    s     = Validation (prediction) runtime
Training timeseries model TemporalFusionTransformer. Training for up to 10412.6s of the 21425.1s of remaining time.
	-56.1017      = Validation score (-MAE)
	183.05  s     = Training runtime
	0.39    s     = Validation (prediction) runtime
Training timeseries model PatchTST. Training for up to 20641.6s of the 21241.6s of remaining time.
	-161.3579     = Validation score (-MAE)
	91.41   s     = Training runtime
	0.11    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'DynamicOptimizedTheta': 0.71, 'RecursiveTabular': 0.16, 'SeasonalNaive': 0.04, 'TemporalFusionTransformer': 0.09}
	-40.3074      = Validation score (-MAE)
	1.34    s     = Training runtime
	37.07   s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'CrostonSBA', 'NPTS', 'AutoETS', 'DynamicOptimizedTheta', 'AutoARIMA', 'RecursiveTabular', 'DirectTabular', 'DeepAR', 'TemporalFusionTransformer', 'PatchTST', 'WeightedEnsemble']
Total runtime: 451.14 s
Best model: WeightedEnsemble
Best model score: -40.3074
	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: CrostonSBA_FULL | Skipping fit via cloning parent ...
Fitting model: NPTS_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: DynamicOptimizedTheta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoARIMA_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL | Skipping fit via cloning parent ...
Fitting model: DirectTabular_FULL | Skipping fit via cloning parent ...
Fitting model: DeepAR_FULL | Skipping fit via cloning parent ...
Fitting model: TemporalFusionTransformer_FULL | Skipping fit via cloning parent ...
Fitting model: PatchTST_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['SeasonalNaive_FULL', 'CrostonSBA_FULL', 'NPTS_FULL', 'AutoETS_FULL', 'DynamicOptimizedTheta_FULL', 'AutoARIMA_FULL', 'RecursiveTabular_FULL', 'DirectTabular_FULL', 'DeepAR_FULL', 'TemporalFusionTransformer_FULL', 'PatchTST_FULL', 'WeightedEnsemble_FULL']
Total runtime: 0.61 s
Updated best model to 'WeightedEnsemble_FULL' (Previously 'WeightedEnsemble'). AutoGluon will default to using 'WeightedEnsemble_FULL' for predict().

In [53]:
predictor.leaderboard()

                             model  score_val  pred_time_val  fit_time_marginal  fit_order
0                 WeightedEnsemble    -40.307         37.069              1.338         12
1        TemporalFusionTransformer    -56.102          0.391            183.048         10
2            DynamicOptimizedTheta    -57.617         29.845              0.024          5
3                    SeasonalNaive    -71.833          6.618              0.020          1
4                             NPTS    -71.833          0.333              0.023          3
5                          AutoETS    -71.833          0.734              0.022          4
6                        AutoARIMA    -90.976         34.183              0.016          6
7                           DeepAR   -102.242          0.638             82.346          9
8                 RecursiveTabular   -137.454          0.215              3.070          7
9                         PatchTST   -161.358          0.106             91.409         11
10                   DirectTabular   -193.760          0.108              1.194          8
11                      CrostonSBA   -245.957         15.144              0.018          2
12           WeightedEnsemble_FULL        NaN            NaN              1.338         24
13  TemporalFusionTransformer_FULL        NaN            NaN            183.028         22
14              SeasonalNaive_FULL        NaN            NaN              0.000         13
15           RecursiveTabular_FULL        NaN            NaN              3.050         19
16                   PatchTST_FULL        NaN            NaN             91.393         23
17                       NPTS_FULL        NaN            NaN              0.001         15
18      DynamicOptimizedTheta_FULL        NaN            NaN              0.001         17
19              DirectTabular_FULL        NaN            NaN              1.177         20
20                     DeepAR_FULL        NaN            NaN             82.327         21
21                 CrostonSBA_FULL        NaN            NaN              0.000         14
22                    AutoETS_FULL        NaN            NaN              0.001         16
23                  AutoARIMA_FULL        NaN            NaN              0.000         18

In [54]:
predictions_up = predictor.predict(model_2023_up_data, model='WeightedEnsemble')

In [55]:
results = predictions_up.copy().reset_index()
results['id'] = results['timestamp'].dt.strftime('%Y%m') + results['item_id']

# Select the 'id' and 'mean' columns and rename 'mean' to 'net_payment_count'
model_2023_up_sub = results[['id', '0.4']].rename(columns={'0.4': 'net_payment_count'})

In [56]:
model_2023_up_sub.to_csv('model_2023_up_sub.csv', index=False)

In [57]:
churn.to_csv('churn_2023.csv', index=False)

In [58]:
static_features_df = static_df.drop_duplicates()

In [59]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

model_2023_down_data = TimeSeriesDataFrame.from_data_frame(
    model_2023_df_down,
    id_column="merchant_id",
    timestamp_column="month_id",
    static_features_df=static_features_df
)
model_2023_down_data.head()

                           net_payment_count
item_id        timestamp
merchant_10003 2023-07-01                  3
               2023-08-01                  3
               2023-09-01                  0
merchant_10006 2023-01-01                  3
               2023-04-01                  3

In [60]:
model_2023_down_data = model_2023_down_data.convert_frequency(freq="M")
model_2023_down_data['net_payment_count'] = model_2023_down_data['net_payment_count'].fillna(0)

In [61]:
from autogluon.common import space

predictor = TimeSeriesPredictor(
    prediction_length=3,
    target="net_payment_count",
    eval_metric="MAE",
    freq='M',
    quantile_levels=[0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.6, 0.7],
#     known_covariates_names=["month", "year"]
)

predictor.fit(
    model_2023_down_data,
    presets="best_quality",
    time_limit= 3600 * 6,
    excluded_model_types=["AutoARIMA", "DeepAR", "CrostonSBA", "NPTS", "DirectTabular", 
                         "TemporalFusionTransformer", "PatchTST"],
    refit_full=True,
    
#     hyperparameters={
#       "SeasonalNaive": {"n_jobs": 6},
#       "Naive": {"n_jobs": 6},
#       "AutoETS": {"n_jobs": 6},
#       "DynamicOptimizedTheta": {"n_jobs": 6},
#       "RecursiveTabular": {"n_jobs": 6},
#       "AutoCES": {"n_jobs": 6},
# #       "ADIDA": {},
# #       "IMAPA": {},
# #       "DLinear": {},
# #       "SimpleFeedForward": {},
# #       "DeepAR": {},
#         },
#     hyperparameter_tune_kwargs={
# #     "num_trials": 5,
# #     "scheduler": "local",
# #     "searcher": "random",
#     "n_jobs": -1
# },
)

Beginning AutoGluon training... Time limit = 21600s
AutoGluon will save models to 'AutogluonModels\ag-20240225_085048'
=================== System Info ===================
AutoGluon Version:  1.0.0
Python Version:     3.10.10
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          12
GPU Count:          0
Memory Avail:       3.16 GB / 15.42 GB (20.5%)
Disk Space Avail:   31.34 GB / 476.34 GB (6.6%)
===================================================
Setting presets to: best_quality

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': MAE,
 'excluded_model_types': ['AutoARIMA',
                          'DeepAR',
                          'CrostonSBA',
                          'NPTS',
                          'DirectTabular',
                          'TemporalFusionTransformer',
                          'PatchTST'],
 'freq': 'M',
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 2,
 'prediction_length': 3,
 'quantile_levels': [0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.6, 0.7],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': True,
 'target': 'net_payment_count',
 'time_limit': 21600,
 'verbosity': 2}

Provided train_data has 12010 rows, 3022 time series. Median time series length is 3 (min=1, max=9).
Time series in train_data are too short for chosen num_val_windows=2. Reducing num_val_windows to 1.
	Removing 2737 short time series from train_data. Only series with length >= 8 will be used for training.
	After removing short series, train_data has 2427 rows, 285 time series. Median time series length is 9 (min=8, max=9).

Provided dataset contains following columns:
	target:           'net_payment_count'
Following types of static features have been inferred:
	categorical:        ['mcc_id', 'settlement_period', 'working_type', 'merchant_segment']
	continuous (float): []
To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'MAE'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-02-25 11:50:48
Excluded model types: ['AutoARIMA', 'DeepAR', 'CrostonSBA', 'NPTS', 'DirectTabular', 'TemporalFusionTransformer', 'PatchTST']
	Found 'CrostonSBA' model in `hyperparameters`, but 'CrostonSBA' is present in `excluded_model_types` and will be removed.
	Found 'NPTS' model in `hyperparameters`, but 'NPTS' is present in `excluded_model_types` and will be removed.
	Found 'AutoARIMA' model in `hyperparameters`, but 'AutoARIMA' is present in `excluded_model_types` and will be removed.
	Found 'DirectTabular' model in `hyperparameters`, but 'DirectTabular' is present in `excluded_model_types` and will be removed.
	Found 'DeepAR' model in `hyperparameters`, but 'DeepAR' is present in `excluded_model_types` and will be removed.
	Found 'TemporalFusionTransformer' model in `hyperparameters`, but 'TemporalFusionTransformer' is present in `excluded_model_types` and will be removed.
	Found 'PatchTST' model in `hyperparameters`, but 'PatchTST' is present in `excluded_model_types` and will be removed.
Models that will be trained: ['SeasonalNaive', 'AutoETS', 'DynamicOptimizedTheta', 'RecursiveTabular']
Training timeseries model SeasonalNaive. Training for up to 5249.9s of the 21599.7s of remaining time.
	-3.9368       = Validation score (-MAE)
	0.01    s     = Training runtime
	4.49    s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 6998.4s of the 21595.1s of remaining time.
	Warning: AutoETS\W0 failed for 284 time series (99.6%). Fallback model SeasonalNaive was used for these time series.
	-3.9368       = Validation score (-MAE)
	0.02    s     = Training runtime
	20.94   s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta. Training for up to 10487.1s of the 21574.2s of remaining time.
	-4.3974       = Validation score (-MAE)
	0.01    s     = Training runtime
	26.90   s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 20947.3s of the 21547.3s of remaining time.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-6.2655       = Validation score (-MAE)
	3.26    s     = Training runtime
	0.88    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'SeasonalNaive': 1.0}
	-3.9368       = Validation score (-MAE)
	0.51    s     = Training runtime
	4.49    s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'AutoETS', 'DynamicOptimizedTheta', 'RecursiveTabular', 'WeightedEnsemble']
Total runtime: 57.13 s
Best model: SeasonalNaive
Best model score: -3.9368
	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: DynamicOptimizedTheta_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL | Skipping fit via cloning parent ...
Fitting model: WeightedEnsemble_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['SeasonalNaive_FULL', 'AutoETS_FULL', 'DynamicOptimizedTheta_FULL', 'RecursiveTabular_FULL', 'WeightedEnsemble_FULL']
Total runtime: 0.15 s
Updated best model to 'SeasonalNaive_FULL' (Previously 'SeasonalNaive'). AutoGluon will default to using 'SeasonalNaive_FULL' for predict().

In [62]:
predictor.leaderboard()

                        model  score_val  pred_time_val  fit_time_marginal  fit_order
0            WeightedEnsemble     -3.937          4.494              0.507          5
1               SeasonalNaive     -3.937          4.494              0.015          1
2                     AutoETS     -3.937         20.938              0.016          2
3       DynamicOptimizedTheta     -4.397         26.898              0.013          3
4            RecursiveTabular     -6.266          0.875              3.264          4
5       WeightedEnsemble_FULL        NaN            NaN              0.507         10
6          SeasonalNaive_FULL        NaN            NaN              0.000          6
7       RecursiveTabular_FULL        NaN            NaN              3.249          9
8  DynamicOptimizedTheta_FULL        NaN            NaN              0.000          8
9                AutoETS_FULL        NaN            NaN              0.000          7

In [63]:
predictions = predictor.predict(model_2023_down_data, model='WeightedEnsemble')

	Warning: SeasonalNaive\W0 failed for 488 time series (16.1%). Fallback model SeasonalNaive was used for these time series.

In [64]:
predictions.head(5)

                           mean    0.2   0.25    0.3   0.35    0.4   0.45   0.5   0.6   0.7
item_id        timestamp
merchant_10003 2023-10-31 0.000 -1.785 -1.431 -1.112 -0.817 -0.537 -0.267 0.000 0.537 1.112
               2023-11-30 0.000 -2.525 -2.023 -1.573 -1.156 -0.760 -0.377 0.000 0.760 1.573
               2023-12-31 0.000 -3.092 -2.478 -1.927 -1.416 -0.931 -0.462 0.000 0.931 1.927
merchant_10006 2023-10-31 3.000  1.215  1.569  1.888  2.183  2.463  2.733 3.000 3.537 4.112
               2023-11-30 3.000  0.475  0.977  1.427  1.844  2.240  2.623 3.000 3.760 4.573

In [65]:
results = predictions.copy().reset_index()
results['id'] = results['timestamp'].dt.strftime('%Y%m') + results['item_id']

# Select the 'id' and 'mean' columns and rename 'mean' to 'net_payment_count'
model_2023_down_sub = results[['id', '0.5']].rename(columns={'0.5': 'net_payment_count'})

In [66]:
model_2023_down_sub = model_2023_down_sub.fillna(2)

In [67]:
model_2023_down_sub.to_csv('model_2023_down_sub.csv', index=False)

In [68]:
model_2023_down_sub.isnull().sum(), model_2023_up_sub.isnull().sum()

(id                   0
 net_payment_count    0
 dtype: int64,
 id                   0
 net_payment_count    0
 dtype: int64)